%i#toggle.icon-align-justify.icon-large

%ul#dock
  %li.launcher
    %i.icon-dashboard
    =link_to t('dock.dashboard'), teacher_dashboard_index_path
  -#%li.launcher
  -#  %i.icon-file-text-alt
  -#  =link_to t('dock.users'), teacher_class_rooms__path
  %li.launcher
    %i.icon-file-text-alt
    =link_to t('dock.class_rooms'), teacher_class_rooms_path