.panel-heading
  %i.icon-table.icon-large
  = t('tt.index', resource_name: Message.model_name.human)
  .panel-tools
    .btn-group
      %a.btn{href: hq_messages_path, data: {toggle: 'toolbar-tooltip'}, title: 'Reload'}
        %i.icon-refresh
    .badge= @messages.total_entries
.panel-body.filters

%table.table
  %thead
    %tr
      %th #
      %th= t('activerecord.attributes.message.title')

      %th.actions

  %tbody
    = render @messages
