%p
  #{@resource.email} Merhaba!
%p Şifreni aşağıdaki linke tıklayarak değiştirebilirsin.
%p= link_to 'Şifremi Değiştir', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
